nav {
    padding: 1rem;
}
nav ul {
    display: flex;   
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
}
nav ul li{
    margin: 0 0.25rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 2rem;
}

main {
    text-align: justify;
}

@media (min-width: 1400px) {
    body {
        font-size: 1rem;
    }
    main, footer, nav {
        width: 960px; 
    }
}

/*
    Custom elements
*/

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
}

.profile-card img {
    border-radius: 2rem;
    max-width: 200px;
    margin-bottom: 0.25rem;
}