/*
 VER: 1.01
*/

:root {
    --main-text-color: #0D1F22;
    --main-background-color: #ffffff;
    --main-link-color: #B38A58;
    --header-background-color: #0D1F22;
    --header-text-color: #ffffff;
    --footer-background-color: #ffffff;
    --article-text-color: #0D1F22;
    --article-background-color: #ffffff;
}
  

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    margin: 0;
}

body a {
    color: var(--main-link-color);
    text-decoration: none;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

nav {
    padding: 1rem;
}
nav ul {
    display: flex;   
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    margin: 0 0.5rem;
}

main {
    text-align: justify;
    padding: 0 0.5rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

main h1 {
    text-align: center;
}

main h2 {
    text-align: left;
}

main a {
    font-weight: bold;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 2rem;
    background: var(--footer-background-color);
    color: var(--main-text-color);
    font-size: 1rem;
}

footer a {
    color: var(--main-text-color);
}


footer .footer-inner-content {
    font-size: 0.5rem;
    padding: 0 0.5rem;
}

/* 
    Writing
*/

article {
    color: var(--article-text-color);
    background: var(--article-background-color);
    padding: 0.5rem 1rem;
    line-height: 28px;
    font-size: 18px;
    text-align: left;
    margin: 0 -1rem;
}

article h1, h2, h3, h4, h5, h6 {
    line-height: 28px;
    text-align: left;
}


article p {
    text-align: left;
}

article img {
    width: 100%;
}

/*
    Custom elements
*/

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
}

.profile-card img {
    border-radius: 2rem;
    max-width: 200px;
    margin-bottom: 0.25rem;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}

/*
Media Queries
*/

@media (min-width: 1400px) {
    body {
        font-size: 1.25rem;
        line-height: 1.3;
    }
    main, footer, nav {    
        padding: 0 2rem;
    }
    main, .footer-inner-content {
        width: 960px;
    }

    main article {
        line-height: 32px;
        font-size: 20px;
        align-self: center;
        padding: 1.5rem;
        max-width: 680px;
        border-radius: 0.25rem;
    }
    
}

@media (min-width: 768px) {
    main {
        margin: 0 2rem;
    }
}