{% extends "templates/base.html" %}
{% block meta_tags %}
<meta name="description" content="The list of chapters for a serialized novel about the mysterious town of Green Springs, Oregon.">
{% endblock %}
{% block content %}
    <h1>Green Springs</h1>
    <p>
        A serial about the mysterious town of Green Springs, Oregon. 
    </p>
    <figure>
    <img src="/assets/img/blog/green-springs/green_springs_banner.jpg" alt="" />
    </figure>
    <h2>Series Chapters</h2>
    <ul>
    <li><a href="/writing/blog/green-springs/chapter-1/index.html">Chapter 1</a></li>
    </ul>
    <div>
        <h2>Subscribe to my writing</h2>
        <iframe class="substack-subscribe-box" src="https://achairinthevoid.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}
