{% extends "templates/base.html" %}
{% block meta_tags %}
<meta name="description" content="The list of chapters for my and my partner's ten day trip to Albania in January 2024.">
{% endblock %}
{% block content %}
    <h1>Ten Days in Albania</h1>
    <figure>
    <img src="/assets/img/blog/ten-days-in-albania/ten_days_in_albania_header.png" alt="" />
    </figure>
    <h2>Series Chapters</h2>
    <ul>
    <li>9/25/2024 – <a href="/writing/blog/ten-days-in-albania/chapter-1/index.html">Chapter 1</a></li>
    </ul>
    <div>
        <h2>Subscribe to my writing</h2>
        <iframe class="substack-subscribe-box" src="https://achairinthevoid.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}
