{% extends "templates/base.html" %}

{% block content %}
<h1> About </h1>
<div>
<p>
    Max Miller is a writer from New England. 
    Growing up in southern New Hampshire, Max's love of the outdoors and 
    the horrors that may-or-may-not be lurking in the New England wilderness 
    drove a passion for crafting stories that lurk under the surface of the innocuous. 
    After graduating with a Bachelors of Science in Physics from the University 
    of New Hampshire, Max moved to Boston MA where he now resides and works as 
    a software engineer. Most days he can be seen skulking around his local coffee 
    shop or bookstore, usually with a notebook and pen. On the weekends, he likes 
    hiking with his friends in the White Mountains and visiting local Massachusetts 
    nature trails. His work can be found in <a href="https://winglessdreamer.com/">Wingless Dreamer</a>, 
    UNH's <a href="https://wildcatlink.unh.edu/organization/aegis">Aegis</a>, 
    and on his personal blog <a href="https://medium.com/a-chair-in-the-void">A Chair in the Void</a>.
</p>
</div>
{% endblock %}

