{% extends "templates/base.html" %}

{% block content %}
    <h1>Home</h1>
    <div>
    <div class="profile-card h-card">
        <a href="http://maxmiller.ink/">
        <img src="/assets/img/profile.jpeg" alt="" />
        </a>
        <span>Max Miller</span>
    </div>
    <h2>Hello!</h2>
    <p>
        Welcome to my website! Here you can find links to all my writing and any relevant news I want to share.
        Check out my <a href="/about/">about</a> page to read more about who I am (and maybe <i>why</i> I am).
        You can find my personal blog over at <a target="_blank" href="https://medium.com/a-chair-in-the-void">A Chair in the Void</a>. 
        I update it periodically, with the "period" fluctuating wildly. 
        If you want to reach out, you can do so via my <a target="_blank" href="https://forms.gle/YFuF4Miekk2JoxM1A">contact form</a>.
        I'll try to get back to you within 48 hours. If you're a jerk, I'll get back to you within 5–7 years. 
    </p>
    </div>
    <div>
    <h2>Helpful Links</h2> 
    <ul>
        <li>
        <a target="_blank" href="https://achairinthevoid.substack.com/">A Chair in the Void Substack</a>
        </li>
        <li>
        <a target="_blank" href="https://achairinthevoid.substack.com/feed">A Chair in the Void RSS Feed</a>
        </li>
        <li>
        <a target="_blank" href="https://forms.gle/YFuF4Miekk2JoxM1A">Contact Form</a>
        </li>
    </ul>
    </div>
    <div>
    <h2>Recent Writings</h2>
    <ul>
        <li><a href="/writing/blog/ten-days-in-albania/">SERIES: Ten Days in Albania</a></li>
        <li><a href="/writing/blog/two-loons-on-todd-lake-9-8-2024">Two Loons on Todd Lake</a></li>
    </ul>
    </div>
    <div>
        <h2>Subscribe to my Writing</h2>
        <iframe class="substack-subscribe-box" src="https://achairinthevoid.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
    </div>
{% endblock %}