<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta data-rh="true" name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,maximum-scale=1">
  {% block meta_tags %}{% endblock %}

  <link rel="stylesheet" href="/assets/css/styles.css?ver={{ style_css_version }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
  
  <title>{{ title }} | Max Miller</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/writing/">Writing</a></li>
        <li><a target="_blank" href="https://achairinthevoid.substack.com/p/what-is-this-place">Subscribe</a></li>
      </ul>
    </nav>
  </header>
  <main>{% block content %}{% endblock %}
  </main>
  <footer>
    <div class="footer-inner-content">
      <span>© 2024 Don't Steal my Personal Website That's Weird </span>
    </div>
  </footer>
</body>

</html>
